@page
@model ProtoWeb.Pages.ProStats.ProStatisticsModel
@{
    ViewData["Title"] = "ProStatistics";
}
<h1>List of ProStats</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            Stats
        </th>
        <th>
            Average
        </th>
    </tr>
    </thead>
    <tbody>
        @*@foreach(var )*@
    </tbody>
</table>