@page
@model ProtoWeb.Pages.HowToModel
@{
    ViewData["Title"] = "How To";
}

<body>
    <div class="my-auto-container frame">
        <h4 class="text-center text-dark">How to use Stats Fore Golfers</h4>
        <br />
        <p class="text-center text-dark">
            You start by pressing the "Start" button on the home page. <br />
            When you have pressed the "Start" button, you will be asked to enter some information regarding your name, club, member id and handicap. <br />
            <br />
            After entering your information, you will be redirected to a page where you can reconstruct your course. <br />
            After reconstructing your course, you can fill in the information about the holes in your course. <br />
            <br />
            Once you have filled out the information about your course and holes, you can finally begin filling in your stats from your game(s). <br />
            Upon submitting your stats, we will return an analysis of your game by giving you the percentage of shots hit and missed, visualized on a pie chart. <br />
            <br />
            From there on out, it's completely up to you what you choose to do with the returned analysis. <br />
            You can use it for self-analysis, compare it with your friends or just generally check out how your game went!
        </p>
    </div>
</body>