@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div style="width: 100%;">
        <div class="img-fluid text-center">
            <img src="img/indexHeader.png" />
        </div>
        <form asp-page="/Users/User" method="get" class="text-center">
            <button class="btn btn-secondary btn-lg">Start</button>
        </form>
        <br />
        <div class="my-auto container frame pl-4 pr-4" style="width: 25%;">
            <h4 class="text-center text-dark">Welcome to Stats Fore Golfers!</h4>
            <p class="text-left text-dark">
                &bull; Press the "Start" button to get started.<br />
                &bull; Enter your golf information.<br />
                &bull; Choose a course.<br />
                &bull; Enter your game data as you play<br />
                &bull; Get an analysis of your game.
                <br />
                <br />
                You can use the analysis for self-improvement, <br />
                compare with friends or pro players <br />
                or just check out how your game went!
            </p>
        </div>
    </div>
</body>