@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div style="width: 100%;">
        <div class="img-fluid text-center">
            <img src="img/indexHeader.png" />
        </div>
        <form asp-page="/Users/User" method="post" class="text-center">
            <button class="btn btn-secondary btn-lg">Start</button>
        </form>
        <br />
        <div class="my-auto container frame">
            <h4 class="text-center text-dark">Welcome to Stats Fore Golfers!</h4>
            <p class="text-center text-dark">
                To get started, please press the "Start" button. <br />
                <br />
                When you have pressed the "Start" button, please enter your golf information. <br />
                Once you have entered your golf information, please reconstruct your course and fill in your holes. <br />
                <br />
                Once we have every information that we need, we will process the information and return an analysis of your game. <br />
                You can use the analysis for self-analysis, compare with friends or just check out how your game went!
            </p>
        </div>
    </div>
</body>

@*
    <br />
    When you have pressed the "Start" button, you will be asked to enter some information regarding your name, club, member id and handicap. <br />
    After entering your information , you will be redirect to a page where you can reconstruct your course. <br />
    <br />
    After reconstructing your course, you can fill in the information about the holes in your course
    Once you have filled out the information about your course and holes, you can finally begin filling in your stats from your games. <br />
    <br />
    Upon submitting your stats, we will return an analysis of your game by giving you the percentage of shots hit and missed, visualized on a pie chart. <br />
    From there on out, it's completely up to you what you choose to do with the returned analysis. <br />
    <br />
    You can use it for self-analysis, compare it with your friends or just generally check out how your game went!
*@