@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">StatsForeGolfers</h1>
    @*<div class="text-center">
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Golf Stats here</a>.</p>
    </div>*@
    
</div>
<!DOCTYPE html>
<html lang="en">
<body>

<div class="container-fluid">
    <div class="text-center">
        <h2>Improve your golf game </h2>
        <button>Get started here!</button>
    </div>
</div>

</body>
</html>