/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

h1,h2,h3,h4 {
    color: #fff4EC;
}


p {
    color: #fff4EC;
}

a {
    color: #fff4EC;
}

.link-dark {
    color: #1A281F;
}

.jumbotron {
    background-color: #fff4EC;
}

.bg {
    /* The image used */
    background-image: url("../img/greenbck2.jpg");
    /* Half height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Provide sufficient contrast against white background */

.text-dark {
    color: #1A281F;
}

.btn-primary {
    color: #fff4EC;
    background-color: #09BC8A;
    border-color: #09BC8A;
}

.btn-secondary {
    color: #1A281F;
    background-color: #fff4EC;
    border-color: #fff4EC;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.4);
}

.btn-danger {
    color: #fff4EC;
    background-color: #592941;
    border-color: #592941;
}

.btn-success {
    color: #fff4EC;
    background-color: #1A281F;
    border-color: #1A281F;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff4EC;
    background-color: #09BC8A;
    border-color: #09BC8A;
}

.navbar-dark {
    color: #fff4EC;
    background-color: #1A281F;
}

.navbar-light {
    color: #1A281F !important;
    background-color: #fff4EC !important;
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 5px solid #09BC8A;
}
.border-bottom {
    border-bottom: 5px solid #09BC8A;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
    /*Full Height*/
    height: 100%;
    position: relative;
    min-height: 100%;
    background-color: #1A281F;
}

body {
    /*Full Height*/
    height: 100%;
    width: 100%;
}

table {
    width:100% !important;
    align-self:center !important;
    color: #1A281F !important;
    background-color: #fff4EC !important;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #1A281F;
}

.content {
    width: 100%;
    height: calc(100% - 130px);
    background-image: url("../img/greenbck2.jpg");
    box-shadow: inset 0 0 10px #000000;
    overflow: hidden;
    overflow-y: auto;
}

/* Page frames(Background for content inside content div) */
.frame {
    padding: 10px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.4);
    border-radius: 10px;
    background-color: #fff4EC;
}

/* Stats Input buttons */
.btn-miss, .btn-hit {
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: absolute;
    height: 60px;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    color: #1A281F;
    background-color: #fff4EC;
}
