@page
@model ProtoWeb.Pages.Courses.GetAllCoursesModel
@{
    ViewData["Title"] = "GetAllCourses";
}

<div class="row justify-content-center p-4">
    <div class="col-auto">
        <h1>All Courses</h1>
        <div class="my-auto container frame">
            <p>
                <a class="link-dark" asp-page="CreateCourse">Create New Course</a>
            </p>
            <form>
                <p class="text-dark">
                    <input class="textField" type="text" placeholder="Search.." asp-for="FilterCriteria" />
                    <input type="submit" value="Filter" />
                </p>
            </form>
            <table class="table table-striped table-responsive p-3">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Courses)
                {
                    <tr>
                        <td>
                            <a class="link-dark" asp-page="CoursesHoles/GetAllHoles" asp-route-id="@item.Key"> @item.Value.Name</a>
                        </td>
                        <td>
                            <p>
                                <a class="link-dark" asp-page="EditCourse" asp-route-id="@item.Key">Edit</a> |
                                <a class="link-dark" asp-page="DeleteCourse" asp-route-id="@item.Key">Delete</a>
                            </p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            </div>
        </div>
    </div>