@page
@model ProtoWeb.Pages.Courses.SelectCourseModel
@{
    ViewData["Title"] = "SelectCourse";
}

<div class="row justify-content-center p-4">
    <div class="col-auto">
        <h1>Select a Course</h1>
        <div class="my-auto container frame">
            <p>
                @*<a class="link-dark" asp-page="CreateCourse">Create New Course</a>*@
            </p>
            <form>
                <p class="text-dark">
                    <input class="textField" type="text" placeholder="Search.." asp-for="FilterCriteria" />
                    <input type="submit" value="Filter" />
                </p>
            </form>
            <table class="table table-striped table-responsive p-3">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Courses)
                {
                    <tr>
                        <td>
                            @*<a class="link-dark" asp-page="/Statistics/InputStats1" asp-route-id="@item.Key"> @item.Value.Name</a>*@
                            <form asp-page-handler="SelectCourse" method="post">
                                <button>@item.Value.Name</button>
                                <input type="hidden" name="id" value="@item.Key"/>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            </div>
        </div>
    </div>