@page "{page}{btnID}"
@model ProtoWeb.Pages.Statistics.InputStats1Model
@{
    ViewData["Title"] = "InputStats1";
}


<div class="row justify-content-center p-4">
    <div class="col-auto">
        <h1> Hole 1</h1>
        <div class="my-auto container frame">
            <div class="form-group">
                <table class="text-center">
                    <tr>
                        <td colspan="3">Fairway</td>
                    </tr>
                    <tr>
                        <td>Left</td>
                        <td></td>
                        <td>Right</td>
                    </tr>
                    <tr>
                        <td>
                            <form method="post" class="text-center">
                                <input type="submit" asp-route-page="/Statistics/InputStats2" asp-route-btnID="0" class="btn-miss" value="Miss" />
                            </form>
                        </td>
                        <td>
                            <form method="post" class="text-center">
                                <input type="submit" asp-route-page="/Statistics/InputStats2" asp-route-btnID="1" class="btn-hit" value="Hit" />
                            </form>
                        </td>
                        <td>
                            <form method="post" class="text-center">
                                <input type="submit" asp-route-page="/Statistics/InputStats2" asp-route-btnID="2" class="btn-miss" value="Miss" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>