@page
@model ProtoWeb.Pages.Statistics.InputStats3Model
@{
    ViewData["Title"] = "InputStats3";
}

<h1> Hole 2</h1>
<div class="my-auto container frame">
    <table class="text-center">
        <tr>
            <td colspan="3">Scramble</td>
        </tr>
        <tr>
            <td>Left</td>
            <td></td>
            <td>Right</td>
        </tr>
        <tr>
            <td><input type="button" value="Miss" class="btn-miss"/></td>
            <td><input type="button" value="Hit" class="btn-hit"/></td>
            <td><input type="button" value="Miss" class="btn-miss"/></td>
        </tr>
    </table>
</div>