@page
@model ProtoWeb.Pages.Statistics.InputStats1Model
@{
    ViewData["Title"] = "InputStats1";
}


<div class="row justify-content-center p-4">
    <div class="col-auto">
        <h1> Hole 1</h1>
        <div class="my-auto container frame">
            <form method="post">
                <table class="text-center">
                    <tr>
                        <td colspan="3">Fairway</td>
                    </tr>
                    <tr>
                        <td>Left</td>
                        <td></td>
                        <td>Right</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" asp-route-id="0" class="btn-miss" value="Miss" />
                        </td>
                        <td>
                            <input type="submit" asp-route-id="1" class="btn-hit" value="Hit" />
                        </td>
                        <td>
                            <input type="submit" asp-route-id="2" class="btn-miss" value="Miss" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>