@page "{id}"
@model ProtoWeb.Pages.Statistics.InputStats2Model
@{
    ViewData["Title"] = "InputStats2";
}


<div class="row justify-content-center p-4">
    <div class="col-auto">
        <h1> Hole 1</h1>
        <div class="my-auto container frame">
            <table class="text-center">
                <tr>
                    <td colspan="3">Green</td>
                </tr>
                <tr>
                    <td>Left</td>
                    <td></td>
                    <td>Right</td>
                </tr>
                <tr>
                    <td>
                        <form asp-page="/Statistics/InputStats3" method="post" class="text-center">
                            <button asp-for="@(Model.MockSheet.GreenMissLeft++)" class="btn-miss">
                                Miss
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-page="/ShowResults" method="post" class="text-center">
                            <button asp-for="@(Model.MockSheet.GreenHit++)" class="btn-hit">
                                Hit
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-page="/Statistics/InputStats3" method="post" class="text-center">
                            <button asp-for="@(Model.MockSheet.GreenMissRight++)" class="btn-miss">
                                Miss
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <p>
                @Model.MockSheet.FairWayMissLeft
            </p>
        </div>
    </div>
</div>