@page "{btnId}"
@model ProtoWeb.Pages.Statistics.InputStats2Model
@{
    ViewData["Title"] = "InputStats2";
}

<div class="row justify-content-center p-4">
    <div class="col-auto">
        <h1> Hole 1</h1>
        <div class="my-auto container frame">
            <form method="post">
                <table class="text-center">
                    <tr>
                        <td colspan="3">Fairway</td>
                    </tr>
                    <tr>
                        <td>Left</td>
                        <td></td>
                        <td>Right</td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-page="InputStats3" asp-route-btnId="0" type="submit" class="btn-miss" value="Miss" />
                        </td>
                        <td>
                            <input asp-page="InputStats3" asp-route-btnId="1" type="submit" class="btn-hit" value="Hit" />
                        </td>
                        <td>
                            <input asp-page="InputStats3" asp-route-btnId="2" type="submit" class="btn-miss" value="Miss" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div>
            <p>
                Fairway misses left: @Model.MockSheet.FairWayMissLeft
            </p>
        </div>
    </div>
</div>