@page
@model ProtoWeb.Pages.Statistics.InputStats2Model
@{
    ViewData["Title"] = "InputStats2";
}

<h1> Hole 2</h1>
<div class="my-auto container frame">
    <table class="text-center">
        <tr>
            <td colspan="3">Green</td>
        </tr>
        <tr>
            <td>Left</td>
            <td></td>
            <td>Right</td>
        </tr>
        <tr>
            <td>
                <form asp-page="Statistics/InputStats3" method="post" class="text-center">
                    <button class="btn-miss">Miss</button>
                </form>
            </td>
            <td>
                <form asp-page="Statistics/InputStats3" method="post" class="text-center">
                    <button class="btn-hit">Hit</button>
                </form>
            </td>
            <td>
                <form asp-page="Statistics/InputStats3" method="post" class="text-center">
                    <button class="btn-miss">Miss</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<p asp-></p>