@page
@model ProtoWeb.Pages.Statistics.InputStats1Model
@{
    ViewData["Title"] = "InputStats1";
}

<div class="row justify-content-center p-4">
    <div class="col-auto">
        <h1> Hole 1</h1>
        <div class="my-auto container frame">
            <form method="post">
                <table class="text-center">
                    <tr>
                        <td colspan="3">Fairway</td>
                    </tr>
                    <tr>
                        <td>Left</td>
                        <td></td>
                        <td>Right</td>
                    </tr>
                    <tr>
                        <td class="p-2">
                            <input asp-for="@Model.MockSheet.FairWayMissLeft" asp-page-handler="MissFairwayLeft" type="submit" class="btn-danger btn-miss" value="Miss" />
                        </td>
                        <td class="p-2">
                            <input asp-for="@Model.MockSheet.FairWayHit" asp-page-handler="HitFairway" type="submit" class="btn-primary btn-hit" value="Hit" />
                        </td>
                        <td class="p-2">
                            <input asp-for="@Model.MockSheet.FairWayMissRight" asp-page-handler="MissFairwayRight" type="submit" class="btn-danger btn-miss" value="Miss" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>