@page
@model ProtoWeb.Pages.Statistics.InputStats1Model
@{
    ViewData["Title"] = "InputStats1";
}

<h1> Hole 2</h1>
<div class="my-auto container frame">
    <table class="text-center">
        <tr>
            <td colspan="3">Fairway</td>
        </tr>
        <tr>
            <td>Left</td>
            <td></td>
            <td>Right</td>
        </tr>
        <tr>
            <td><input type="button" value="Miss" class="btn-miss"/></td>
            <td><input type="button" value="Hit" class="btn-hit" /></td>
            <td><input type="button" value="Miss" class="btn-miss" /></td>
        </tr>
    </table>
</div>

@*<form method="post" ?>
    <input asp-for="StatSheet.TotalHits" /><br />
    <input asp-for="StatSheet.TotalMisses" /><br />
    <input asp-for="StatSheet.TotalGreenStrokes" /><br />
    <input asp-for="StatSheet.GreenHit" /><br />
    <input asp-for="StatSheet.GreenMissRight" /><br />
    <input asp-for="StatSheet.GreenMissLeft" /><br />
    <input asp-for="StatSheet.Bunker" /><br />
    <input asp-for="StatSheet.Rough" /><br />
    <input asp-for="StatSheet.French" /><br />
    <input asp-for="StatSheet.TotalFairwayStrokes" /><br />
    <input asp-for="StatSheet.FairWayHit" /><br />
    <input asp-for="StatSheet.FairWayMissLeft" /><br />
    <input asp-for="StatSheet.FairWayMissRight" /><br />
    <input asp-for="StatSheet.TotalScrambleStrokes" /><br />
    <input asp-for="StatSheet.ScrambleHit" /><br />
    <input asp-for="StatSheet.ScrambleMiss" /><br />
</form>*@